<br>
<div>
    <h2>Order page</h2>
</div>

<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-left form p-4">
                    <div class="px-2">

                        <form #orderForm="ngForm" [formGroup]="orderFormGroup" class=" justify-content-center">

                            <div class="form-group">
                                <label for="names">Select city name:</label>
                                <select class="form-control" name="cities" id="cities" class="form-control"
                                    [formControl]="userCity">
                                    <option value="" selected disabled hidden> Choose a city here</option>

                                    <option *ngFor="let city of this.citiesService.cities" value="{{city.city_id}}">
                                        {{city.city_name}}</option>

                                </select>
                                <span
                                    *ngIf="userCity.errors?.required && (userCity.touched || userCity.untouched)">Please
                                    select one of the options.</span><br>
                            </div>


                            <div class="form-group">
                                <label for="userStreet ">Insert street:</label><br>
                                <input class="form-control" class="form-control" id="userStreet" name="userStreet"
                                    type="text" placeholder="Insert your street..." name="userStreet"
                                    [formControl]="userStreet">
                                <span
                                    *ngIf="userStreet.errors?.required && (userStreet.touched || userStreet.untouched) ">Please
                                    fill out this field.</span>
                                <span
                                    *ngIf="userStreet.errors?.pattern && (userStreet.touched || userStreet.untouched)&& !userStreet.errors?.required ">You
                                    can insert only letters, spaces and numbers.</span><br>
                            </div>



                            <div class="form-group">
                                <label for="userCredit ">Insert credit number:</label><br>
                                <input class="form-control" id="userCredit" type="text" name="credit"
                                    placeholder="Insert your credit number..." name="userCredit"
                                    [formControl]="userCredit">
                                <span
                                    *ngIf="userCredit.errors?.required && (userCredit.touched || userCredit.untouched) ">Please
                                    fill out this field.</span>
                                <span
                                    *ngIf="userCredit.errors?.pattern && (userCredit.touched || userCredit.untouched)&& !userCredit.errors?.required ">credit
                                    number must be a valid number..</span><br>
                            </div>


                            <div class="form-group">
                                <mat-form-field id="date" color="warn">
                                    <input [min]="minDate" matInput [matDatepicker]="picker" name="date" 
                                        [matDatepickerFilter]=dateFilter [formControl]="shipDate"  
                                        placeholder=" Choose a date... ">
                                    <mat-datepicker-toggle matSuffix [for]="picker" color="warn" ></mat-datepicker-toggle>
                                    <mat-datepicker #picker  color="warn"></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <button [disabled]="orderForm.form.invalid" (click)="onOrderClicked()"
                                    class="btn">order</button>
                                <button (click)="onBackClicked()" class="btn">back</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>