
<div class="about">
  <div class="box">
  <h1>About us</h1>
  <p> We are your local community connection for high quality foods, friendly service and great prices.

Our family-owned store offers a convenient one-stop shop where you can find everything you need from the everyday essentials to specialty items from around the world.
  </p>
  <p>
Our friendly staff is here to help you find exactly what you're looking for and to offer you assistance regarding all the products we carry.

We take pride in our community and appreciate your business. We know that you have many options for food purchases and want you to know that we're working hard each day to continue to earn your business.
</p>
 
  </div>
  <div class="box" >
  <img src="assets/images/store.jpg"  alt="store">
  </div>
</div>
