<div class="container-fluid">
    <nav class="topnav">

        <img src="assets/images/logo.png" id="logo" alt="logo">
        <a routerLink="/home" routerLinkActive="the-chosen-one">Home</a>
        <a routerLink="/about" routerLinkActive="the-chosen-one">About</a>
        <a routerLink="/generalInfo" routerLinkActive="the-chosen-one">General info</a>

        <div class="contact-container">


            <p>contact us: superMarket@gmail.com<br>
                +972 054 5454875
                <br>
                <span><b><i>{{this.usersService.userName}}</i></b></span></p>

        </div>
    </nav>
</div>